---
layout: layout
title: title
---

<div class="two-thirds column">

{% for post in site.posts limit:4 %}

<h3>

<a href="{{ post.url }}">{{ post.title }}</a>

</h3>
<span>{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</span>
<p>
    {{ post.excerpt }}
</p>
  

{% endfor %}

<ul>
  {% for post in site.posts %}
  {% if forloop.index > 4 %}
  <li>
  Older Posts:
    <a href="{{ post.url }}" title="{{ post.title }}">
      <span class="date">
        <span class="day">{{ post.date | date: '%d' }}</span>
        <span class="month"><abbr>{{ post.date | date: '%b' }}</abbr></span>
        <span class="year">{{ post.date | date: '%Y' }}</span>
      </span>
      <span class="title">{{ post.title }}</span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
</div>


<div class="one-third column">
  <h3>
  Internal Links:
  </h3>
    	  <nav>
       <ul>
	 <!div class="headlinks">
	 <!div class="one-third column">
            <h4><a href="/about/about.html" style="text-decoration: none">About Me</a></h4>
	   <!/div>
	   <!div class="one-third column">
            <h4><a href="/projects/research.html" style="text-decoration: none">Research</a></h4>
	     <!/div>
	     <!div class="one-third column">
            <h4><a href="/photography/photography.html" style="text-decoration: none">Photography</a></h4>
	     <!/div>
            <!/div>
        </ul>
    </nav>
  <h3>
External Links:
</br>
<p>
<nav>	
  <a href= "https://twitter.com/#!/phrenchphry11" title="Twitter" target="_blank"><img
  src="/images/twitter_32.png"></a>
   <a href= "http://www.facebook.com/frenchh" title="Facebook"><img
  src="/images/facebook_32.png"></a> 
  <a
  href="http://www.yelp.com/user_details?userid=77AmnJIp11Q6yktux1dcgQ"
   title="Yelp" target="_blank"><img
  src="/images/yelp_32.png"></a>
   <a
  href="https://plus.google.com/u/0/115222633081510714545/about"
  title="G+" target="_blank"><img
  src="/images/google_32.png"></a>
  <a href="skype:phrenchphry11?call" title="Skype"><img
  src="/images/skype_32.png"></a>
   <a href="mailto:hollyafrench90@gmail.com" title="Email"><img
  src="/images/email_32.png"></a>
 </nav>
</h3>


      
  </div>