---
layout: layout
title: title
---

<div class="two-thirds column">

{% for post in site.posts limit:4 %}

<h3>

<a href="{{ post.url }}">{{ post.title }}</a>

</h3>
<span>{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</span>
<p>
    {{ post.excerpt }}
</p>
  

{% endfor %}

<ul>
  {% for post in site.posts %}
  {% if forloop.index > 4 %}
  <li>
  Older Posts:
    <a href="{{ post.url }}" title="{{ post.title }}">
      <span class="date">
        <span class="day">{{ post.date | date: '%d' }}</span>
        <span class="month"><abbr>{{ post.date | date: '%b' }}</abbr></span>
        <span class="year">{{ post.date | date: '%Y' }}</span>
      </span>
      <span class="title">{{ post.title }}</span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
</div>


<div class="one-third column">
  <h3>
External Links:
</br>
  <a href= "https://twitter.com/#!/phrenchphry11"><img
  src="/images/twitter_32.png" target="_blank"></a>
   <a href= "http://www.facebook.com/frenchh"><img
  src="/images/facebook_32.png" target="_blank"></a> 
  <a
  href="http://www.yelp.com/user_details?userid=77AmnJIp11Q6yktux1dcgQ"><img
  src="/images/yelp_32.png" target="_blank"></a>
   <a
  href="https://plus.google.com/u/0/115222633081510714545/about"><img
  src="/images/google_32.png" target="_blank"></a>
  <a href="skype:phrenchphry11?call"><img
  src="/images/skype_32.png" target="_blank"></a>
   <a href="mailto:hollyafrench90@gmail.com"><img
  src="/images/email_32.png" target="_blank"></a>
 
</h3>

  <h3>
  Search:
  </h3>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl(
      '005904370304022734455:ojzrrjn1dnu');

    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
 
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
      
  </div>