<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
    <title>Post Facto &mdash; {{ page.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
<link href='http://fonts.googleapis.com/css?family=Patua+One|Actor' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/lightbox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

    <!-- RSS
	================================================== -->
    <link rel="alternate" type="application/atom+xml" title="Post Facto - Atom" href="/atom.xml" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32120097-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>



	<!-- Primary Page Layout
	================================================== -->


	<div class="container">
	<body>
	  <!img id="banner" src="/images/banner.jpg" />
	    <h1 class="remove-bottom" style="margin-top: 40px"><a href="/" style="text-decoration: none">Post Facto</a></h1>
			<h5>A Blog by Holly French</h5>
	  
<hr />
	  <section>
	  <div class="two-thirds column">
      {{ content }}
	  
   {% if page.comments %} 

	  <div id="disqus_thread"></div>
	  <script type="text/javascript">
	  var disqus_shortname = 'postfacto'; // required: replace example with your forum shortname
	  //var disqus_developer = 1; // This turns developer mode on

	  (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
	  </script>
	  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	  <a href="http://disqus.com" class="dsq-brlink">blog comments
        powered by <span class="logo-disqus">Disqus</span></a>
	  {% endif %}

</div>
</section>
<div class="one-third column">
  <h3>
  Internal Links:
  </h3>
    	  <nav>
       <ul>
	 <!div class="headlinks">
	 	 <!div class="one-third column">
            <h4><a href="/" style="text-decoration: none">Main</a></h4>
	   <!/div>
	 <!div class="one-third column">
            <h4><a href="/about/about.html" style="text-decoration: none">About Me</a></h4>
	   <!/div>
	  <!div class="one-third column">
            <h4><a href="/about/resume.pdf" style="text-decoration: none">Resume</a></h4>
	  <!/div>
	   <!div class="one-third column">
            <h4><a href="/projects/research.html" style="text-decoration: none">Research</a></h4>
	     <!/div>
	     <!div class="one-third column">
            <h4><a href="/photography/photography.html" style="text-decoration: none">Photography</a></h4>
	     <!/div>
            <!/div>
        </ul>
    </nav>
  <h3>
External Links:
</br>
<p>
<nav>	
  <a href= "https://twitter.com/#!/phrenchphry11" title="Twitter" target="_blank"><img
  src="/images/twitter_32.png" style="position:relative;"
onmouseover="switchPos(this);"onmouseout="switchPosBack(this);"></a>
   <a href= "http://www.facebook.com/frenchh" title="Facebook"><img
  src="/images/facebook_32.png" style="position:relative;"
onmouseover="switchPos(this);"onmouseout="switchPosBack(this);"></a> 
  <a
  href="http://www.yelp.com/user_details?userid=77AmnJIp11Q6yktux1dcgQ"
   title="Yelp" target="_blank"><img
  src="/images/yelp_32.png" style="position:relative;"
onmouseover="switchPos(this);"onmouseout="switchPosBack(this);"></a>
   <a
  href="https://plus.google.com/u/0/115222633081510714545/about"
  title="G+" target="_blank"><img
  src="/images/google_32.png" style="position:relative;"
onmouseover="switchPos(this);"onmouseout="switchPosBack(this);"></a>
  <a href="skype:phrenchphry11?call" title="Skype"><img
  src="/images/skype_32.png" style="position:relative;"
onmouseover="switchPos(this);"onmouseout="switchPosBack(this);"></a>
   <a href="mailto:hollyafrench90@gmail.com" title="Email"><img
  src="/images/email_32.png" style="position:relative;"
onmouseover="switchPos(this);"onmouseout="switchPosBack(this);"></a>
 </nav>
</h3>	  
	</div><!-- container -->



	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="/javascripts/tabs.js"></script>
<script src="/javascripts/prototype.js"></script>
<script src="/javascripts/scriptaculous.js?load=effects,builder"></script>
<script src="/javascripts/lightbox.js"></script>
	<script type="text/javascript">
function switchPos(obj) {

obj.style.top = '-4px';

}

	function switchPosBack(obj) {
	obj.style.top = "0px";
	}
</script>



<!-- End Document
================================================== -->
</body>

</html>



